* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .container {
    display: flex;
  }
  
  main {
    width: 100%;
    padding: 20px;
  }
  
  .sidebar {
    background: rgb(248, 235, 224);
    color: #000000;
    height: 100vh;
    width: 350px;
    transition: all 0.5s;
    flex-direction: column;
    justify-content: center;
  }
  
  .top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  
  .logo {
    font-size: 10px;
  }
  
 
  
  .link {
    display: flex;
    color: #0e0d0d;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  
  .link:hover {
    background: rgb(237, 176, 61);
    color: #000;
    transition: all 0.5s;
  }
  
  .active {
    background: lightskyblue;
    color: #000;
  }
  
  .icon,
  .link_text {
    font-size: 20px;
  }
  
  .yellow-line {
    width: 5px;
    height: 90%;
    background-color: yellow;
    margin-right: 10px;
  }
  
  .admin_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
  }
  
  .admin_photo {
    width: 70px; 
    height: 60px; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .admin_name {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  
 
  